.discord-list {
  max-height: 50px;
  min-height: 50px;
}
.discord_link {
  & > div {
    font-size: 1.3rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    letter-spacing: 0.1rem;
  }
  &:hover {
    text-decoration-color: rgb(84, 64, 216);
  }
}

.member-avatar {
  max-height: 50px;
  width: auto;
  border-radius: 50%;
  opacity: 80%;
}
