$body-bg: hsla(250.2, 70.1%, 54.1%, 0);
$primary: hsl(247.9, 66.1%, 54.9%);
$secondary: hsl(0, 0%, 100%);
$warning: hsl(37.4, 100%, 57.8%);
$gray: hsl(208.2, 7.3%, 45.7%);
$light: hsl(0deg, 0%, 97%);
$danger: hsl(354.3, 70.5%, 53.5%);
$success: hsl(162.3, 100%, 40.6%);
$info: hsl(188.2, 77.8%, 40.6%);
$dark: hsl(210, 10.3%, 22.7%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 16.1%);
$darkgrey: hsl(211.8, 8.4%, 39.8%);
$lightgrey: hsl(0, 0%, 55.7%);

// Used in @each to emit styles or evaluate code for each element of a list
$colors: 'body-bg' $body-bg, 'primary' $primary, 'secondary' $secondary,
  'warning' $warning, 'gray' $gray, 'light' $light, 'danger' $danger,
  'success' $success, 'info' $info, 'dark' $dark, 'white' $white, 'black' $black,
  'darkgrey' $darkgrey 'lightgrey' $lightgrey;

// Allow importing colors in JS/TS
:export {
  body-bg: $body-bg;
  primary: $primary;
  secondary: $secondary;
  warning: $warning;
  gray: $gray;
  light: $light;
  danger: $danger;
  success: $success;
  info: $info;
  white: $white;
  dark: $dark;
  black: $black;
  darkgrey: $darkgrey;
  lightgrey: $lightgrey;
}
