$primary: hsl(247.9, 66.1%, 54.9%);
$secondary: hsl(0, 0%, 100%);
$warning: hsl(37.4, 100%, 57.8%);
$gray: hsl(208.2, 7.3%, 45.7%);
$light: hsl(0deg, 0%, 97%);
$danger: hsl(354.3, 70.5%, 53.5%);
$success: hsl(162.3, 100%, 40.6%);
$info: hsl(188.2, 77.8%, 40.6%);
$dark: hsl(210, 10.3%, 22.7%);
