// Used to identify main call to action buttons.
// Also used as selected tab color and table header background color
$purple: hsl(248, 66%, 55%);
// Used as secondary color and primarily for save buttons
$green: hsl(170, 66%, 38%);
// Used for page backgrounds
$light-gray: hsl(0, 0%, 96%);
// Used for menu item background color on hover
$light-purple: hsl(232, 100%, 97%);
// Used for header background color
$white: hsl(0, 0%, 100%);
// Use to be defined
$dark-gray: hsl(248, 10%, 42%);
