h1 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 120%;
}

h2 {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
}

h3 {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
}

p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

code {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
}

.btn {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.text__small {
  font-size: 14px;
}

.text__large {
  font-size: 18px;
}
