// Used as main text color on light backgrounds such as our Light Gray and if needed white background
$dark-purple: hsl(248, 56%, 16%);
// Used for menu hover button(?)
$gray-purple: hsl(249, 11%, 37%);
// Used as the main text color on dark backgrounds such as Purple, Green and Dark Gray
$light: hsl(0, 0%, 100%);
