@mixin rubik-bold {
  font-family: 'Rubik';
  font-weight: 700;
}

h1 {
  @include rubik-bold;
  font-size: 32px;
  line-height: 120%;
}

h2 {
  @include rubik-bold;
  font-size: 24px;
  line-height: 160%;
}

h3 {
  @include rubik-bold;
  font-size: 18px;
  line-height: 160%;
}

h4,
h5,
h6 {
  @include rubik-bold;
}

p {
  font-family: 'Inter';
  font-weight: 400;
  line-height: 160%;
}

li,
span {
  font-family: 'Inter';
}

code,
kbd,
pre,
samp {
  font-family: 'Fira Code';
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
}

// TODO: Fix button lineheight.
button,
.btn {
  font-family: 'PT Mono';
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.text__small {
  font-size: 14px;
}

.text__large {
  font-size: 18px;
}
