@use './_variables.module';
@use 'sass:color';

$dark: hsl(0, 0%, 33.7%);
$light: hsl(0, 0%, 98.4%);
$dark_primary: color.adjust(variables.$primary, $lightness: -20%);
$light_primary: color.adjust(variables.$primary, $lightness: 28%);

.lessons_tabsNav {
  font-family: 'PT Mono';
  max-width: fit-content;
  padding: 8px 16px;
  background: white;
  box-shadow: 0px 4px 25px hsla(0deg, 0%, 0%, 0.1);
  border-radius: 4px;
  align-items: center;
  display: flex;
  column-gap: 20px;
  overflow-x: auto;
  border: 1px solid $light_primary;
}

.lessons__tabsNav__nav {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  row-gap: 20px;
  flex-wrap: nowrap;
}

.lessons_tabsNav__nav__item {
  padding: 7px 16px;
  border-radius: 4px;
  background-color: variables.$primary;
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}

.lessons_tabsNav__nav__item:hover {
  color: white;
}

.lessons_tabsNav__nav__item--inactive {
  padding: 7px 16px;
  border-radius: 4px;
  color: $dark_primary;
  cursor: pointer;
  font-weight: bold;
  border: none;
  text-decoration: none;
  transition: background-color 0.1s ease-in;
  font-size: 14px;
}

.lessons_tabsNav__nav__item--inactive:hover {
  background-color: color.change(variables.$primary, $lightness: 95%);
  color: $dark_primary;
  transition: background-color 0.3s ease-out;
}

.lessons_tabs {
  margin-top: 40px;
}
