@use 'colors.module.scss';

// Not available in the design spec colors
$light-border: hsla(0, 0%, 85%);

@mixin item {
  padding: 20px 16px;
  border-radius: 10px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 21px;
  gap: 10px;
  max-height: 592px;
  overflow: auto;

  background: colors.$secondary;

  width: 100%;
  max-width: 369.01px;
  row-gap: 23px;
  justify-content: center;

  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.container__heading {
  font-weight: 700;
  font-size: 18px;
  font-family: Inter;

  line-height: 22px;
  text-align: center;
}

.container__itemsList {
  padding: 0px;
  flex: 1;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  overflow-y: auto;

  font-family: Inter;
  font-size: 14px;
}

.container__itemsList--loading {
  align-items: center;
  justify-content: center;
}

.container__itemsList__item--active {
  @include item;
  background-color: colors.$bg-white;
  border: 1px solid $light-border;
}

.container__itemsList__item {
  @include item;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: 1px solid transparent;
  transition: background-color 0.3s ease-out;

  &:hover {
    background-color: colors.$bg-white;
    transition: background-color 0.1s ease-in;
    border: 1px solid $light-border;
  }
}

.container--button {
  margin-top: 3px;
  padding: 15px 48px;
  background-color: colors.$bg-white;
  border: 1px solid colors.$bg-purple;
  border-radius: 4px;
  font-family: PT MONO;
  color: colors.$primary;
  transition:
    background-color 0.1s ease-in,
    box-shadow 0.1s ease-in,
    color 0.1s ease-in;

  &:hover {
    background-color: colors.$bg-purple;
    color: colors.$fg-light;
    box-shadow: 0 6px 15px rgba(colors.$bg-purple, 0.4);
    transition:
      background-color 0.3s ease-out,
      box-shadow 0.3s ease-out,
      color 0.3s ease-out;
  }

  &:active {
    transform: scale(0.98);
  }

  &:focus {
    outline: 3px solid rgba(colors.$bg-purple, 0.5);
  }
}

.container__error {
  color: colors.$textDanger;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
}
