.alert {
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  margin-bottom: 0;
  .alert-dismiss {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    padding: 0;
  }
}
