.alert {
  margin-bottom: 0;
  .alert-icon {
    height: 24px;
    width: 24px;
  }
  .alert-dismiss {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    padding: 0;
  }
}



