.announcement-card__container {
  display: flex;
  border-radius: 8px;
  background-color: #edf1f6;
  border-style: none;
  color: #292929;
  padding: 0.5rem;
}

.announcement-card__paragraph-container {
  font-size: 15px;
  line-height: 1.6;
}

.announcement-card__subheading {
  font-size: 15px;
}