.announcement-card__container {
  background-color: #edf1f6;
}

.announcement-card__title {
  font-size: 1.5rem;
  line-height: 1.5;
  color: rgb(80, 80, 80);
}

.announcement-card__subtitle {
  color: rgb(80, 80, 80);
}
