.announcement-card__container {
  background-color: #edf1f6;
}

.announcement-card__title {
  font-size: 1.5rem;
  line-height: 1.5;
}

.announcement-card__paragraph-container {
  font-size: 15px;
  line-height: 1.6;
}

.announcement-card__subtitle {
  font-size: 15px;
  line-height: 1.6;
}