.navbar-brand {
  font-family: 'PT Mono', sans-serif;
  font-size: 30px;
}

.nav-item {
  margin-left: 2em;
  margin-right: 2em;
}

.nav-buttons {
  flex-shrink: 0;
  & > * {
    min-width: 5em;
    background-color: white;
  }
}

.dropdown-item {
  color: #838383;
  &:hover {
    color: #4c4c4c;
    text-decoration: none;
  }
}

.light-button > * {
  background-color: #fff;
}
