@use 'sass:color';
@use '_variables.module.scss';

@media (min-width: 992px) {
  .navbar {
    height: 65px;
  }
}

.navbar {
  font-family: PT Mono;
}

.navbar-brand {
  font-size: 40px;
}

.nav-item {
  margin-left: 2em;
  margin-right: 2em;
  font-size: 14px;
  font-weight: 700;
  color: #565656;
  text-transform: uppercase;
  background-color: #fbfbfb;
  border-radius: 4px;
  height: 30px;
  padding: 5px;
}

.nav-link {
  color: #565656;
  &:hover {
    background-color: color.change(variables.$primary, $lightness: 90%);
    text-decoration: none;
  }
}

.nav-buttons {
  flex-shrink: 0;
  & > * {
    min-width: 5em;
    background-color: white;
  }
}

.isAdminBadge {
  font-size: 11px;
  letter-spacing: 0.07em;
  background: #c2ccff;
  border: 2px solid #5440d8;
  vertical-align: middle;
  margin: 0 0 0 10px;
  position: relative;
  bottom: 3px;
  color: #5440d8;
}

.active {
  background: #5440d8 !important;
  color: #ffffff !important;
}

.light-button > * {
  background-color: #fff;
}
