.blockQuote {
  background: #f9f9fa;
  padding: 0.5em 1em;
  margin: 1em 0;
  border-radius: 5px;
}
.blockQuote > p {
  margin-top: 1em;
}
.blockQuote__bulb {
  align-self: center;
  height: 1.5rem;
}
