//TO-DO use imports instead of redefining colors in modules
$gray: #6c757d;
$darkGray: #4c4c4c;
$primary: rgb(84, 64, 216);
$secondary: #fff;
$warning: #ffae28;
$green: #00cf92;
$textDanger: #721c24;

// TEXT

// Used as main text color on light backgrounds such as our Light Gray and if needed white background
$dark-purple: hsl(248, 56%, 16%);
// Used for menu hover button(?)
$gray-purple: hsl(249, 11%, 37%);
// Used as the main text color on dark backgrounds such as Purple, Green and Dark Gray
$light: hsl(0, 0%, 100%);
