//TO-DO use imports instead of redefining colors in modules
$gray: #6c757d;
$darkGray: #4c4c4c;
$primary: rgb(84, 64, 216);
$secondary: #fff;
$warning: #ffae28;
$green: #00cf92;
$textDanger: #721c24;

// TEXT

// Used as main text color on light backgrounds such as our Light Gray and if needed white background
$fg-dark-purple: hsl(248, 56%, 16%);
// Used for menu hover button(?)
$fg-gray-purple: hsl(249, 11%, 37%);
// Used as the main text color on dark backgrounds such as Purple, Green and Dark Gray
$fg-light: hsl(0, 0%, 100%);

//  BACKGROUND

// Used to identify main call to action buttons.
// Also used as selected tab color and table header background color
$bg-purple: hsl(248, 66%, 55%);
// Used as secondary color and primarily for save buttons
$bg-green: hsl(170, 66%, 38%);
// Used for page backgrounds
$bg-light-gray: hsl(0, 0%, 96%);
// Used for menu item background color on hover
$bg-light-purple: hsl(232, 100%, 97%);
// Used for header background color
$bg-white: hsl(0, 0%, 100%);
// Use to be defined
$bg-dark-gray: hsl(248, 10%, 42%);
