// Used for Buttons text and h3 header
@font-face {
  font-family: 'PT MONO';
  src: url('/fonts/PTMono-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2');
}
