@font-face {
  font-family: 'PT MONO';
  src: url('/fonts/PTMono-Regular.ttf');
}

// Used for code
@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode-Regular.woff2') format('woff2');
}
