// Override default variables before the import
$body-bg: #fff;

$theme-colors: (
  "primary": rgb(84,64,216)
);

$font-family-sans-serif:  Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI","Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
