// Override default variables before the import
$body-bg: rgba(84, 56, 220, 0.03);

$theme-colors: (
  "primary": rgb(84,64,216),
  "secondary": #fff
);

$font-family-sans-serif:  Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI","Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// available variables: https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss
$green: #00cf92 !default;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// Import Fonts
@import "../public/PTMono-Regular.ttf";

// Global CSS
body{
  font-optical-sizing: none;
}

.outline-danger{
  border: 1px solid rgba(220,53,69, 1);
  &:focus{
    border: 1px solid rgba(220,53,69, 1);
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5);
  }
}

p {
  font-size: 15px;
  line-height: 1.6;
}

// Local SCSS Imports
@import './challengeMaterial.scss';