.modal-content{
    background-color:transparent;
    border:none
}
.modal-dialog{
    max-width: 90%;
}
.modal-body > img{
    width: 100%;
}

.inlineCode{
 background: #edeceb; 
 color: #EB5757; 
 display: inline;
}

.blockQuote{
    background: #f9f9fa;
     padding: 0.5em 1em
}
.blockQuote>p{
    margin-top: 1em;
}
.blockQuote__bulb{
    align-self: center;
    height:1.5rem;
}

.MDX_h1,.MDX_h2, .MDX_h3{
    font-weight: 600;
}

.MDX_a{
    color:#6d6d6d;
    text-decoration:underline;
}
.MDX_a:hover{
    color:#37352f
}

.spoiler_arrow__down{
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgb(146, 146, 146);
}

.spoiler_arrow__right {
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid rgb(146, 146, 146);
}
.spoiler__title{
    color:#212529;
}
.MDX_td, .MDX_th{
    padding:1em
}

.MDX_twoColumns{
    display:flex;
    align-items: center;
}
.MDX_image{
    max-height: 50vh;
    max-width: 100%;
}
.MDX_modal_image{
    overflow: scroll;
}

