.lesson-card__title {
  font-size: 1.5rem;
  line-height: 1.3;
  margin-bottom: 0.75rem;
}
.lesson-card__icon-text {
  font-size: 0.8rem;
  line-height: 1.4;
}
.lesson-card__container_completed {
  top: 20px;
  right: 16px;
  line-height: 15px;
}
