.inline-code {
  background: #edeceb;
  color: #eb5757;
  display: inline;
  padding: 0.1em 0.3em;
  border-radius: 2px;
}
.MDX_h1,
.MDX_h2,
.MDX_h3 {
  font-weight: 600;
}

.MDX_ul {
  list-style: none;
}

.MDX_ol > li::marker {
  font-weight: bold;
  color: rgb(65, 65, 65);
}

.MDX_a {
  color: #4e4e4e;
  text-decoration-color: #7a7a7a !important;
  text-decoration: underline;
  line-height: 1.5;
  opacity: 0.7;
  text-underline-offset: 30%;
  text-decoration-thickness: 3%;
}
.MDX_a:hover {
  color: #37352f;
  opacity: 0.9;
  text-decoration-color: #37352f !important;
}

.MDX_td,
.MDX_th {
  padding: 1em;
}

.MDX_twoColumns {
  display: flex;
  align-items: center;
}
