.inline-code {
  background: #edeceb;
  color: #eb5757;
  display: inline-block;
  padding: 0.1em 0.3em;
  border-radius: 2px;
}
.MDX_h1,
.MDX_h2,
.MDX_h3 {
  font-weight: 600;
  display: inline-block;
  margin-top: 2em;
  margin-bottom: 0.8em;
}

.MDX_p {
  margin-bottom: 1.2em;
}

.MDX_ol > li::marker {
  font-weight: bold;
  color: rgb(65, 65, 65);
}

.MDX_a {
  color: #4e4e4e;
  text-decoration-color: #bdbcbc !important;
  text-decoration: underline;
  line-height: 1.5;
  opacity: 0.7;
  text-underline-offset: 30%;
  text-decoration-thickness: 3%;
}
.MDX_a:hover {
  color: #37352f;
  opacity: 0.9;
  text-decoration-color: #37352f !important;
}

.MDX_td,
.MDX_th {
  padding: 1em;
}

.MDX_twoColumns {
  @media (max-width: 768px) {
    display: block;
  }
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.edit {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.lesson-wrapper {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  p {
    line-height: 24px;
    font-size: 1rem;
  }
  ul {
    list-style-type: disc;
  }
  pre {
    margin-bottom: 10px;
  }
}

.title {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1rem;
  @media (max-width: 768px) {
    font-size: 2.5rem;
  }
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
