// .small {
// 	max-width: 392px;
// }

// .medium {
// 	max-width: 588px;
// }

// .large {
// 	max-width: 784px;
// }

.small {
	max-width: 28%;
}

.medium {
	max-width: 42%;
}

.large {
	max-width: 56%;
}

.exitBtn {
	right: -34px; 
	top: -27px;
}