.container {
  margin-top: 32px;
  display: grid;
  row-gap: 40px;
}

.container__modulesPanel {
  display: flex;
  column-gap: 40px;
}

.container__modulesPanel__inputs {
  flex: 1;
}

.container__exercisesPanel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}
