@use 'sass:color';
@use '_variables.module.scss';

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.noUnderline {
  text-decoration: none !important;
}

.active {
  color: variables.$secondary;
  background: variables.$primary;
}
