.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.noUnderline {
  text-decoration: none !important;
}

.active {
  background: #5440d8 !important;
  border-radius: 4px;
  color: #ffffff !important;
}
