.profile_image_placeholder{
 height: 120px;
 width: 120px;
 border-radius: 50%;
 text-align: center;
 margin-top: 15%;
 margin-bottom: 30%;
 margin-left: 45%;
}

.profile_image_full_name{
  width: max-content;
  margin-left: -15px;
  margin-top: 50px;
}

