.profile-comments {
  .comment-student-initials {
    width: 41px;
    height: 41px;
  }
  .comment-lesson-title {
    font-size: 13px;
  }
  .comment-text {
    font-weight: 500;
    color: #5438dc;
  }
}
