@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
.profile-comments {
    .comment-username {
        font-family: Roboto;
        font-size: 15px;
        font-weight: bold;
        color: #5d656e;
    }
    .comment-lesson-title {
        font-family: Roboto;
        font-size: 13px;
        font-weight: normal;
        color: #8e8e8e;
      }
    .comment-text {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 500;
        color: #5438dc;
      }
  } 