.progress-card__container {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.07);
}

.progress-card__progress-bar {
  width: 62px;
  height: 62px;
  border: solid 7.3px #3a22b8;
}

.progress-card__title {
<<<<<<< HEAD
  line-height: 1.58;
=======
  line-height: 1.5;
>>>>>>> 0ba96aca0e753554907a20dfcebf9e9c0f79dbc3
}

.progress-card__button {
  font-size: 13px;
<<<<<<< HEAD
  text-align: center;
  color: #5438dc;
=======
>>>>>>> 0ba96aca0e753554907a20dfcebf9e9c0f79dbc3
}