.icon {
  filter: invert(49%) sepia(91%) saturate(5924%) hue-rotate(336deg)
    brightness(92%) contrast(87%);
  padding: 0.5em 1em;
  display: inline;
}

.changes {
  border: 2px solid rgb(246, 182, 182);
  border-radius: 5px;
}

.font {
  font-size: 1rem;
}
