@use './colors.module.scss';

.card__descAccordion {
  z-index: 3;
  top: 0;
  width: 100%;
  position: absolute;
}

.accordion__accordionItem--show {
  box-shadow: 0px -3px 50px -6px #0f235a96;
  border-radius: 8px !important;
}

.accordion__item {
  border-radius: 8px !important;
  border-color: #eee;
  color: inherit;
}
