.spoiler-arrow__down{
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgb(146, 146, 146);
}

.spoiler-arrow__right {
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid rgb(146, 146, 146);
}
.spoiler__title{
    color:#212529;
}