.lessonTitleCard__lesson-cover {
  width: 42px;
  height: 60px;
}

.lessonTitleCard__lesson-title {
  font-size: 1.5rem;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
