@media only screen and (max-width: 812px) {
  .mentor {
    width: 100% !important;
  }

  .chooseMentor {
    height: 79vh !important;

    h4 {
      margin-bottom: 0 !important;
    }

    input {
      margin-top: 0.5rem !important;
    }
  }
}

.searchBar {
  border-bottom: solid 1px #f0f0f0;
}

.mentor {
  background: white;
  height: 86px;
  width: 48.312%;
  cursor: pointer;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.07);

  span {
    font-size: 14px;
    z-index: 1;
  }

  h6 {
    z-index: 1;
  }

  &:hover {
    .sendStar {
      z-index: 2;
      display: flex;
      background: rgba(84, 56, 220, 0.9);
      h5 {
        display: block;
      }
    }
  }
}

.commentBox {
  height: 40% !important;
}

.long {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.mentorsList {
  background: rgba(84, 56, 220, 0.03);
  height: 65.8vh;
  overflow-y: scroll; /* Add the ability to scroll */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &:-webkit-scrollbar {
    display: none;
  }
}

.sendStar {
  h5 {
    display: none;
  }
  width: 100%;
  top: 0;
  left: 0;
}
