.secondary {
  background: #fff;
  border-color: #eaeced;
}

.primary {
  background: rgb(84, 64, 216);
  color: #fff;
}

.navBtn {
  width: auto;
  height: auto;
  border: solid 1px #eaeced;
  border-radius: 3px;
  margin-left: 1em;
  padding: 0.4em 1em 0.4em 1em;
}