@use '../../scss/colors.module.scss';

.container {
  background-color: hsl(0, 0%, 96%);
  padding: 20px;
  border: 1px solid hsl(0, 0%, 84%);
  border-radius: 10px;
}

.container__reportBtn {
  font-size: 12px;
  background-color: transparent;
  padding: 0;

  &:hover {
    color: colors.$bg-green;
    background-color: transparent;
    box-shadow: unset;
  }
}

.container__btns__container {
  display: flex;
  column-gap: 10px;
  margin-top: 18px;
}
