#
# COPY THIS FILE AND RENAME IT TO .env TO START USING THE APP
# NEVER COMMIT THE .env FILE TO GITHUB
#

# API KEYS - GET WITH ENGINEERING TEAM
# MAILGUN_API_KEY=
# POSTHOG_API_KEY=

# DATABASE CONFIG
DB_USER=c0d3_admin
DB_NAME=c0d3
DB_PW=admin
DB_HOST=localhost
DB_PORT=5432
DB_URL="postgresql://${DB_USER}:${DB_PW}@${DB_HOST}:5432/${DB_NAME}?connection_limit=1"

# MATTERMOST CONFIG
CHAT_URL=http://localhost:8000/api/v4
MATTERMOST_ACCESS_TOKEN=insert-token-here

# AWS CONFIG
SES_KEY_ID=aws-key-id
SES_SECRET_KEY=aws-secret-key

# EMAIL CONFIG
SMTP_HOST=smtp.example.com
SMTP_USER=user
SMTP_PASSWORD=password