$error-red: #a0213e;

.exerciseCard__section {
  width: 100%;

  @media (min-width: 768px) {
    width: 50%;
  }
}

.exerciseCard__message {
  min-height: 20px;
  font-size: 12px;
}

.exerciseCard__message__error {
  color: $error-red;
}

.exerciseCard__input__error {
  border: 1px solid $error-red;
}
