@use '../../scss/_variables.module';

%exercisePreviewCard__topBorder {
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.exercisePreviewCard__topBorder__success {
  @extend %exercisePreviewCard__topBorder;
  background-color: variables.$success;
}

.exercisePreviewCard__topBorder__danger {
  @extend %exercisePreviewCard__topBorder;
  background-color: variables.$danger;
}

%exercisePreviewCard__topMessage {
  font-size: 14px;
}

.exercisePreviewCard__topMessage__success {
  @extend %exercisePreviewCard__topMessage;
  color: variables.$success;
  border: 1px solid variables.$success;
}

.exercisePreviewCard__topMessage__danger {
  @extend %exercisePreviewCard__topMessage;
  color: variables.$danger;
  border: 1px solid variables.$danger;
}

.dropdown {
  display: flex;
  column-gap: 13px;
  padding: 8px 16px;
  background: transparent;
  align-items: center;
  color: variables.$dark;
  border: 0;

  &:hover {
    background-color: #f4f4f4;
    border: 0;
    color: variables.$dark;
  }

  &:active,
  &:focus,
  &:focus:active {
    background-color: #f4f4f4;
    box-shadow: none;
    border: 0;
    color: variables.$dark;
  }
}

.header__container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.header__container__module__state {
  display: flex;
  justify-content: space-between;
}
