.lessonimage_container {
  position: relative;
  padding: 8px;
  display: inline-block;
  opacity: 1;
}

.lessonimage_opacity_container {
  position: relative;
  padding: 8px;
  display: inline-block;
  opacity: 0.5;
}

.lessonimage_progressbadge {
  position: absolute;
  top: 15px;
  right: 15px;
  border: solid white 2px;
}

.profilelessons_title {
  padding: 8px;
}
