name: init-preview-db
on:
  pull_request_target:
    types:
      - closed
    paths:
      - 'prisma/**'

jobs:
  ssh-and-update-preview-db:
    runs-on: ubuntu-latest
    steps:
      - uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.PREVIEW_DB_HOST }}
          username: ${{ secrets.PREVIEW_DB_USERNAME }}
          key: ${{ secrets.PREVIEW_DB_KEY }}
          script: |
            cd c0d3-app
            git pull origin master
            yarn --ignore-engines
            yarn db:init --force